
.OnBoardingSection{

    inline-size: 100%;
    block-size: auto;

    position: relative;

}

.OnBoardingSection .DecoratedSeparatorTop{

    inline-size: 100%;
    block-size: 37px;

    position: absolute;
    top: -12px;

    background-color: var(--background);

    mask-image: url("./../../../assets/svg/Motivo para separacion 2.svg");
    mask-repeat: no-repeat;
    mask-size: 170%;
    mask-position: -100px;

}

.OnBoardingSection .Content  p{
    display: none;
}