.MiscelaneasContainer{
    inline-size: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.MiscelaneasContainer h3{
    inline-size: 80%;

    font-size: 31px;
    color: #22354B;
}

.MiscelaneasContainer .CardItem{
    inline-size: 288px;
    block-size: 131px;

    margin-block-start:40px;
    
    border-radius: 11px;

    box-shadow: var(--elevation-2);

    z-index: 2;

}


.MiscelaneasContainer .CardItem.One{

    background-image: url("./../../../assets/img/the-tower\ Low\ v1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -70px;


}

.MiscelaneasContainer .CardItem.One .Foreground{

    inline-size: 100%;
    block-size: 100%;
    background-color: #22354bb2;

    border-radius: 11px;
}

.MiscelaneasContainer .CardItem.One h4{

    padding-block-start: 10px;
    padding-inline-start: 20px;
    font-size: 26px;
    color: white;
}

.MiscelaneasContainer .CardItem.One button{
    
    inline-size: 113px;
    block-size: 25px;
    
    position: relative;

    left: 90px;
    top: 45px;

    border-radius: 6px;

    background-color: white;

    color: #22354b;
    font-weight: 700;
    font-size: 17px;

}


.MiscelaneasContainer .CardItem.Two{

    background-image: url("./../../../assets/img/268851673_277510967766795_5993425407020732372_n Low.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-block-end: 200px;
}

.MiscelaneasContainer .CardItem.Two .Foreground{

    inline-size: 100%;
    block-size: 100%;
    background-color: #ffffffbb;

    border-radius: 11px;
}

.MiscelaneasContainer .CardItem.Two h4{

    padding-block-start: 10px;
    padding-inline-start: 20px;
    font-size: 22px;
    color: #22354b;
}

.MiscelaneasContainer .CardItem.Two button{
    
    inline-size: 113px;
    block-size: 25px;
    
    position: relative;

    left: 90px;
    top: 52px;

    border-radius: 6px;

    background-color: #22354b;

    color: white;
    font-weight: 700;
    font-size: 17px;

}

.MiscelaneasContainer  .DecoratedImage{
    block-size: 434px;
    inline-size: 434px;

    position: absolute;

    bottom: -20px;
    left: -160px;

    z-index: 1;

    background-image: url("./../../../assets/img/paint-2090112_1920 Low.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}