
@media (min-width : 1024px){    

    .GabiAndSofiSection{

        block-size: 961px;
    
        display: flex;
        flex-direction: column;
    
        margin-top: 20px;
    
        position: relative;
        background-color: var(--primary-color);
        
    
    }
    
    .GabiAndSofiSection .DecoratedSeparatorTop{
    
        inline-size: 2002px;
        block-size: 126px;
    
        position: absolute;
        top: -60px;
        z-index: 1;
    
        background-color: var(--primary-color);
    
        mask-image: url("./../../../assets/svg/Motivo para separacion 2.svg");
        mask-repeat: no-repeat;
        mask-size: 110%;
        mask-position: center;
    
        transform: scale(1);

    }
    
    .GabiAndSofiSection .DecoratedImageTop{
    
        inline-size: 392px;
        block-size: 392px;
    
        margin: 0;
    
        position:absolute;

        bottom: 0px;
        right: 60px;
        top: auto;
        
        z-index: 2;
    
        background-image: url("./../../../assets/img/241356113_2686140578355619_3558653241144157494_nLow.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        
        transform: scale(1);
    }
    
    .GabiAndSofiSection .Content{
    
        inline-size: 825px;
        block-size: 816px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        left: 450px;
        bottom: 1px;

        color: var(--on-primary);
        
        transform: scale(1);

    }
    
    .GabiAndSofiSection .Content h2{
        inline-size: 100%;
        
        position: absolute;
        top: -80px;
        left: -300px;

        text-align: center;
        font-size: 64px;
        
        transform: rotateZ(6deg);
    }
    
    
    .GabiAndSofiSection .Content p{
    
        margin-block-start: 150px;

        inline-size: 583px;
        line-height: 42px;
        font-weight: 500;
        font-size: 26px;
        color: rgb(236, 236, 236);
    }
    
    .GabiAndSofiSection .Content button{
        inline-size: 246px;
        block-size: 46px;
    
    
        padding-inline-start: 4px;

        margin-block-start: 60px;
        margin-block-end: 16px;
    
        border: 3px solid var(--on-primary);
        border-radius: 6px;
    
    
        background-color: rgba(255, 255, 255, 0);
    
        color: var(--on-primary);
        font-size: 27px;
        font-weight: var(--font-weight-bold);
    
    }
    
    .GabiAndSofiSection .Stack{
    
        inline-size: 739px;
        block-size: 664px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        position: absolute;
        right: 10px;
        z-index: 1;
        transform: scale(1);
    }
    
    .GabiAndSofiSection .Stack  div.Positioned:nth-of-type(1){
        inline-size: 443px;
        block-size: 299px;
    
        display: flex;
        justify-content: center;    
        
        position: absolute;
        right: 40px;
        left: auto;
        top: 40px;
        z-index: 4;
    
        box-shadow: var(--elevation-right-1);
    
        border-radius: 40px;
        background-color: var(--on-primary);
    
        transform: scale(1);
        
    }
    .GabiAndSofiSection .Stack  div.Positioned:nth-of-type(1) picture{
        inline-size: 85%;
        block-size: 70%;
        margin-top: 28px;

        
    }
    
    .GabiAndSofiSection .Stack  div.Positioned:nth-of-type(1) img
    {
        inline-size: 100%;
        block-size: 100%;
    
        object-fit: cover;
        border-radius: 4px;
    
    }
    
    .GabiAndSofiSection .Stack  div.Positioned:nth-of-type(2){
        inline-size: 536px;
        block-size: 362px;
        
        align-self: flex-end;
    
        display: flex;
        justify-content: center;    
    
        position: absolute;
        top: 330px;
        left: 20px;
    
        box-shadow: var(--elevation-right-1);
    
        border-radius: 40px;
    
        background-color: var(--on-primary);

        transform: scale(1);
    }
    
    .GabiAndSofiSection .Stack  div.Positioned:nth-of-type(2) img
    {
        inline-size: 85%;
        block-size: 68%;
    
        margin-top: 32px;
    
        object-fit: cover;
        border-radius: 4px;

    }
    
    .GabiAndSofiSection .DecoratedImageBottom{
    
        inline-size: 586px;
        block-size: 586px;
    
        margin: 0;
    
        position:absolute;
        bottom: 100px;
        left: -75px;

        
        z-index: 2;
    
        background-image: url("./../../../assets/img/256419196_2700471826922494_421919097355875388_nLow.png");
        background-repeat: no-repeat;
        background-size: contain;
    
        transform: scale(1);
    }
    
    .GabiAndSofiSection .DecoratedSeparatorBottom{
    
        inline-size: 2002px;
        block-size: 126px;
    
        position: absolute;
        bottom: -80px;
        z-index: 1;
    
        background-color: var(--primary-color);
    
        transform:rotateZ(1deg) rotateX(180deg) scale(1);
        
        mask-image: url("./../../../assets/svg/Motivo para separacion 2.svg");
        mask-repeat: no-repeat;
        mask-size: 120%;
        mask-position: center;

    }
    

}

@media (min-width : 1280px){
 

}

@media (min-width : 1440px){
    

 }


@media (min-width : 1600px){
    

 }


@media (min-width : 1920px){
    

 }
