/************************/
.HeaderContainer *{
    transition: all 0s ease;
}
/**************************/
.HeaderContainer{

    block-size: 66px;
    inline-size: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    z-index: 10;

    transition: all 0s ease;
}

.HeaderContainer .Logo{
    block-size: 48px;
    inline-size: 48px;

    display: block;

    margin-inline-start: 8px;

    background-color: rgba(255, 255, 255, 0);
}

.HeaderContainer .Logo span{
    inline-size: 100%;
    block-size: 100%;

    display: block;

    background-color: var(--primary-color);

    mask-image: url('./../../../assets/svg/Logo.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}

.HeaderContainer .Menu{
    block-size: 48px;
    inline-size: 48px;

    display: block;

    margin-inline-end: 8px;

    background-color: rgba(255, 255, 255, 0);
}

.HeaderContainer .Menu span{
    inline-size: 100%;
    block-size: 100%;

    display: block;

    background-color: var(--primary-color);

    mask-image: url('./../../../assets/svg/menu_black_rounded_48dp.svg');
    mask-repeat: no-repeat;
    mask-size: 60%;
    mask-position: center;
}

.HeaderContainer nav.Modal{
    display: none;
    position: relative;
   
}

.HeaderContainer .Modal button{
    inline-size: 48px;
    block-size: 48px;

    position: absolute;
    right: 10%;
    top: 5%;

    border-radius: 6px;

    background-color: white;
    
    font-size: 26px;
    color: var(--primary-color);

}

.HeaderContainer .Modal ul{
    
    block-size: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-block-end: 200px;

    list-style: none;
}

.HeaderContainer .Modal a{
    color:var(--on-primary);

    font-size: 26px;
    font-weight: 500;
}

.HeaderContainer .DecoratedImage{
    
    block-size: 250px;
    inline-size: 100%;

    position: absolute;
    bottom: -20px;

    background-color: white;

    mask-image: url("./../../../assets/svg/Logo.svg");
    mask-repeat: space;
    mask-size: cover;
}

.HeaderContainer nav.Modal.Open{
    
    block-size: 100vh;
    inline-size: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    z-index: 10;

    background-color: var(--primary-color);
}

.HeaderContainer nav.Modal.Closed{
    display: none;
}



.HeaderContainer.OnHero{

    background-color: rgba(0, 0, 0, 0);

}

.HeaderContainer.OnHero .Logo span{

    background-color: var(--primary-color);


}

.HeaderContainer.OnHero .Menu span{

    background-color: var(--primary-color);

   
}

.HeaderContainer.OnGAS{

    background-color: rgb(255, 255, 255);
    box-shadow: var(--elevation-2);
}

.HeaderContainer.OnGAS .Logo span{

    background-color: var(--primary-color);


}

.HeaderContainer.OnGAS .Menu span{

    background-color: var(--primary-color);

   
}


.HeaderContainer.NonHero{

    background-color: var(--primary-color);
    box-shadow: var(--elevation-2);
}

.HeaderContainer.NonHero .Logo span{

    background-color: var(--on-primary);


}

.HeaderContainer.NonHero .Menu span{

    background-color: var(--on-primary);

   
}