*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;

}

/******Comentar esta regla para produccion*********/
*{
    transition: all ease 500ms;
}

/*************/

:root{
    --primary-color : #38526F ;
    --primary-variant : #688BB3;
    --on-primary : #FFFFFF;

    --secondary-color : #ECE708;
    --secondary-variant : #C8924A;
    --on-secondary : #FFFFFF;

    --background: #F8FDF6;
    --on-background: #3B3B30;

    --surface: #FFFFFF;
    --on-surface: #4F4F4F;

    --elevation-1 : 0 3px 6px rgba(0, 0, 0, 0.144);
    --elevation-2 : 0 3px 6px rgba(0, 0, 0, 0.377); 
    --elevation-3 : 0 3px 6px rgba(0, 0, 0, 0.555); 

    --elevation-right-1 :  3px 6px 6px rgba(0, 0, 0, 0.144);
    --elevation-right-3 : 3px 3px 6px rgba(0, 0, 0, 0.555); 
    
    --font-size-tall: 26px;
    --font-size-medium-tall: 20px;
    --font-size-medium : 18px;
    --font-size-small-medium: 16px;
    --font-size-small : 14px;
     
    --font-weight-bold : 700;
    --font-weight-black: 900;
    
}

html{
    font-family: 'Segoe UI';
}

.App{
    block-size: auto;
    inline-size: 100vw;

    background-color: var(--background);

    position: relative;

    overflow-x: hidden;
}
